.calendar {
  height: 1200px;
  width: 100%;
  background: rgb(235, 235, 235);
  display: flex;
}

.calendar-day {
  height: 700px;
  width: 200px;
  border-right: 1px solid;
  text-align: center;
}

.calendar-slot {
  position: absolute;
  top: 0;
  width: 200px;
  height: 0px;
  background: white;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  height: 200px;
  width: 200px;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
