div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-bar {
  height: 60px;
}

.calendar {
  height: 1440px;
  width: 100%;
  background: rgb(235, 235, 235);
  display: flex;
}

.calendar-day {
  position: relative;
  height: 1440px;
  flex-grow: 1;
  border-right: 1px solid;
  text-align: center;
}

.calendar-slot {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0px;
  background: rgba(22, 84, 183, 0.5);
}

.calendar-header {
  display: flex;
  height: 42px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  margin-left: 58px;
}

.calendar-header-day-label {
  text-align: center;
  flex: 1 1 0;
  border-right: 1px solid;
  border-top: 1px solid;
  background: rgb(235, 235, 235);
}

.calendar-hour {
  height: 60px;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
}

.calendar-hour-labels-container {
  width: 60px;
}

.calendar-container {
  display: flex;
}

.calendar-hour-subdivision:hover {
  background: rgba(22, 84, 183, 0.5);
}

.calendar-hour-subdivision {
  flex-grow: 1;
}

.calendar-hour-label {
  height: 60px;
  border-bottom: 1px solid;
}
